PORT=4000
NODE_ENV=DEVELOPMENT
FRONTEND_URL=http://localhost:3000
DB_LOCAL_URI=mongodb://127.0.0.1:27017/book-store
DB_URI=mongodb://127.0.0.1:27017/book-store

JWT_SECRET=<add here your jwt secret>
JWT_EXPIRES_TIME=7d

JWT_EXPIRES_TIME=7d
COOKIE_EXPIRES_TIME=7

SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_EMAIL=<add your smtp email here>
SMTP_PASSWORD=<add your smtp password here>
SMTP_FROM_EMAIL=noreply@book-store.com
SMTP_FROM_NAME=BookStore